li {
  background-color: aqua;
  width: 40%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  }

li:hover {
  background-color:yellow;
}

ul{
      justify-content: space-between
  }